{% extends 'authentication/base-logout.html.twig' %}

{% block title %}Bienvenue - TaskLinker{% endblock %}

{% block header %}<h1>S'inscrire</h1>{% endblock %}

{% block body %}
    <h1>Bienvenue sur TaskLinker</h1>
    <p>Commencez dès maintenant - gratuitement</p>
    <p>Vous avez déjà un compte ?</p>
    <a class="auth-buttons login-button">Se connecter</a>
    <div>
        <hr>ou<hr>
    </div>
    <a class="auth-buttons register-button">S'inscrire</a>

{% endblock %}
