<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body id="auth-bg">
        <header class="auth-header">
            <img src="{{ asset('images/logo.png') }}" alt="Logo TaskLinker" />
        </header>
        <div id="auth-container" class="{% block auth_class %}{% endblock %}">
            <h1>{% block h1 %}Bienvenue sur TaskLinker{% endblock %}</h1>
            {% block body %}

            {% endblock %}
        </div>
</body>
